.cpufinder--cpu-name {
  background-color: #a3ffae;
}

.cpufinder--info-box {
  position: absolute;
  left: 100px;
  top: 100px;
  background-color: white;
  border-radius: 5px;
  border: grey solid 2px;
  padding: 3px;
  visibility: visible;
}

.cpufinder--info-box.-hidden {
  visibility: hidden;
}
